<div class="row">
    <div class="col-4">
        <button [routerLink]="['/dashboard/patients/create']" routerLinkActive="router-link-active" >Crear paciente</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">DPI</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td *ngIf="patients.length == 0" colspan="5">
                        <h2>No existen pacientes registrados</h2>
                    </td>
                </tr>
                <tr *ngFor="let item of patients">
                    <th>{{item.nombre}}</th>
                    <th>{{item.apellido}}</th>
                    <th>{{item.DPI}}</th>
                    <th>{{item.genero}}</th>
                    <th>{{item.descripcion}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>